<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LFChooserViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03E2DCBA1C4F32AA007A9370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E2DCD31C4F32AA007A9370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E2DCDE1C4F32AA007A9370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
